<h1>投稿一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= link_to 'つぶやきを確認する', post_path(post.id) %></td>
    <td><%= link_to "つぶやきを編集する", edit_post_path(post.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくつぶやきを投稿する', new_post_path %>